*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Farsan&family=Merienda:wght@300;400;500;600;700&family=Nunito:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

/* font-family: 'Farsan', cursive;
font-family: 'Merienda', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif; */

body{
    font-family: 'Nunito', sans-serif;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Centrar en la parte superior */

}

.centered-container .logo .logoxd{
    max-width: 420px; /* Hace que la imagen sea responsiva */
    height: auto; /* Permite que la imagen mantenga su relación de aspecto */
    transition: transform 0.3s ease; /* Agrega una transición suave al cambiar el tamaño */
  }

.navbar .nav-link{
    font-size: 15px;
    font-family: 'Merienda', cursive;
    font-weight: 800;
    list-style: none;
    display: flex;
    align-items: center;
}