*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Farsan&family=Merienda:wght@300;400;500;600;700&family=Nunito:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

/* font-family: 'Farsan', cursive;
font-family: 'Merienda', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif; */

body{
    font-family: 'Nunito', sans-serif;
}

nav a{
    text-decoration: none;
    color: white;
}

nav ul li{
    list-style-type: none; /* Quita las viñetas de todos los elementos de la lista desordenada */
  }

  .logo img {
    max-width: 450px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
  nav{
    display: flex;
    align-items: center;
    width: 1890px;
    height: 50px;
    border-radius: 7px;
    background-color: #c10049;
    margin: 10px;
    justify-content: space-between;
    color: white;
}

.left-menu, .right-menu {
    font-size: 15px;
    font-family: 'Merienda', cursive;
    font-weight: 800;
    list-style: none;
    display: flex;
    align-items: center;
}
.left-menu li, .right-menu li {
    font-family: 'Merienda', cursive;
    margin: 0 30px;
}

.buscadxr{
    align-items: center;
    display: flex;
    height: 30px;
}

.buscadxr input[type="text"]{
    width: 300px;
    height: 32px;
    border: none;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

::placeholder{
    text-align: center;
    font-size: 17px;
}

.buscadxr button {
    width: 80px;
    height: 32px;
    font-size: 20px;
    background-color: white;
    color: #c10049;
    border: none;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
    margin-left: 0px;
}

.cocholate img {
    max-width: 1500px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

h1{
    text-align: left;
    display: flex;
    margin-left: 193px;
    margin-top: 40px;
    color: #593100;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    width: 465px;
    height: 140px;
    border-radius: 20px;
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.card-content {
    flex: 1;
    /* padding-right: 60px; */ /* Espaciado entre el texto y la imagen */
    color: white;
    margin-top: 20px;
    padding: 20px;
}

h2{
    font-size: 30px;
}

h4{
    font-size: 18px;
    font-weight: 100;
    margin-top: 10px;
}

/* .card-image {
    flex: 1;
} */

img {
    max-width: 100%;
}

#tableta-cho{
    width: 140px;
    height: 130px;

}

#heladx{
    width: 180px;
    height: 137px;
}

#cupcake{
    width: 105px;       /* el ancho */
    height: 152px;  /* el altura */
}

#carta1{
    background-color: #c10049;
}

#carta2{
    background-color: #ff386d;
}

#carta3{
    background-color: #7019fc;
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */ /* Espaciado uniforme entre las tarjetas */
}

.tarjetx {
    width: 337px;
    height: 400px;
    /* width: 23%; */ /* Ajusta el ancho para 4 tarjetas en una fila */
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #a93838;
    text-align: center;
}

.tarjetx #cora-rojo{
    max-width: 100%;
    margin-right: 95px;
}

.tarjetx a {
    text-decoration: none;
    color: #333;
}

.imj-card {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

#cora-rojo{
    width: 138px;
    height: 180px;
    align-items: center;
}

h3{
    font-size: 20px;
    font-weight: 500;
    color: black;
}

p{
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.text-publi1{
    /* flex: 1; */
    margin-top: 70px;
}

#caja-oso{
    width: 290px;
    height: 200px;
}

.text-publi2{
    margin-top: 50px;
}

#frutos-rojos{
    width: 250px;
    height: 200px;
}

.text-publi3{
    margin-top: 50px;
}

#submarino{
    width: 250px;
    height: 200px;
}

.text-publi4{
    margin-top: 50px;
}

#cafe-blend{
    width: 190px;
    height: 220px;
}

.text-publi5{
    margin-top: 50px;
}

#tableta-limon{
    width: 180px;
    height: 230px;
}

.text-publi6{
    margin-top: 40px;
}

#bombon-surti{
    width: 400px;
    height: 200px;
}

.text-publi7{
    margin-top: 70px;
}

#torta-charol{
    width: 150px;
    height: 210px;
}

.text-publi8{
    margin-top: 60px;
}

#paleta-fruta{
    width: 90px;
    height: 210px;
}
.text-publi9{
    margin-top: 50px;
}

#lata-bombon{
    width: 230px;
    height: 220px;
}
.text-publi10{
    margin-top: 40px;
}

#tableta-berries{
    width: 160px;
    height: 230px;
}

.text-publi11{
    margin-top: 30px;
}

#lata-ositos{
    width: 250px;
    height: 200px;
}

.text-publi12{
    margin-top: 60px;
}

#paleta-pistacho{
    width: 90px;
    height: 230px;
}

.text-publi13{
    margin-top: 30px;
}

#masita-fina{
    width: 180px;
    height: 220px;
}

.text-publi14{
    margin-top: 40px;
}

#tableta-almen{
    width: 160px;
    height: 230px;
}
.text-publi15{
    margin: 30px;
}

#macaronss{
    width: 290px;
    height: 60px;
    margin-top: 100px;
}

.text-publi16{
    margin-top: 90px;
}

.contei-publi{
    margin-top: 40px;
}

.red-footer {
    background-color: #c10049; /* Color de fondo rojo */
    padding: 50px;
    text-align: center;
}

.icon-link {
    font-size: 40px; /* Tamaño de los íconos */
    color: white; /* Color del ícono */
    margin: 10px; /* Espaciado entre los íconos */
}

h6{
    color: blue;
    font-size: 100px;
}
                                  /* -----------html chocolateía--------- */

.cocholate1 img{
    max-width: 1500px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.contei-publi1{
    margin-top: 20px;
}

#bombon-fino{
    width: 280px;
    height: 250px;
}

.text-publi17{
    margin-top: 30px;
}

#crema-mamsch{
    width: 170px;
    height: 220px;
}

.text-publi18{
    margin-top: 60px;
}

#gragea-cranberry{
    width: 300px;
    height: 180px;
    margin-top: 20px;
}

.text-publi19{
    margin-top: 80px;
}

#monito{
    width: 200px;
    height: 250px;
}

.text-publi20{
    margin-top: 30px;
}

#mix-caja{
    width: 240px;
    height: 240px;
}

.text-publi21{
    margin-top: 30px;
}

#caja-combi{
    width: 330px;
    height: 200px;
}

.text-publi22{
    margin-top: 70px;
}

#gragea-almen{
    width: 300px;
    height: 180px;
    margin-top: 20px;
}

.text-publi23{
    margin-top: 70px;
}

#cam-choco{
    width: 320px;
    height: 130px;
    margin-top: 70px;
}

.text-publi24{
    margin-top: 70px;
}

#bom-clasi{
    width: 260px;
    height: 230px;
}

.text-publi25{
    margin-top: 30px;
}

#rama-choco{
    width: 320px;
    height: 200px;
}

.text-publi26{
    margin-top: 60px;
}

#tableta-galaxi{
    width: 200px;
    height: 220px;
}

.text-publi27{
    margin-top: 40px;
}

#tableta-primave{
    width: 200px;
    height: 220px;
}

.text-publi28{
    margin: 40px;
}

#marroc-dulce{
    width: 320px;
    height: 200px;
}

.text-publi29{
    margin-top: 50px;
}

#caja-animal{
    width: 320px;
    height: 210px;
}

.text-publi30{
    margin-top: 40px;
}

#bloque-amargo{
    width: 280px;
    height: 230px;
}

.text-publi31{
    margin-top: 20px;
}

#bombo-surtyd{
    width: 280px;
    height: 180px;
}

.text-publi32{
    margin-top: 70px;
}
                                 /* --------------html heladeria--------------- */
.heladitouwu{
    max-width: 1500px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

h5{
    font-size: 30px;
    color: #c10049;
    margin-top: 50px;
    text-align: center;
}

.helado-kg{
    width: 1020px;
    height: 310px;
    /* align-items: center; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.fila-de-botones .boton{
    width: 160px;
    height: 50px;
    font-size: 20px;
}
.fila-de-botones {
    display: flex;
    justify-content: center
}

.boton{
    margin: 0 90px; /* Agrega un margen de 10px a todos los lados de cada botón */
    padding: 10px 20px; /* Agrega relleno (padding) a los botones para espaciar el contenido */
    margin-top: 10px;
    background-color: #c10049; /* Color de fondo del botón */
    font-weight: 600;
    color: #fff; /* Color del texto del botón */
    border: none; /* Quita el borde del botón */
    border-radius: 30px 30px 30px 30px;; /* Agrega bordes redondeados al botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.contei-publi2{
    margin-top: 140px;
}

#palet-frambu{
    width: 90px;
    height: 230px;
}

.text-publi33{
    margin-top: 40px;
}

#matcha-choco{
    width: 90px;
    height: 230px;
}

.text-publi34{
    margin-top: 40px;
}

#cere-crema{
    width: 90px;
    height: 230px;
}

.text-publi35{
    margin-top: 40px;
}

#menta-choco{
    width: 90px;
    height: 230px;
}

.text-publi36{
    margin-top: 40px;
}

#aranda-pista{
    width: 100px;
    height: 220px;
}

.text-publi37{
    margin-top: 40px;
}

#coco-crema{
    width: 100px;
    height: 240px;
}

.text-publi38{
    margin-top: 20px;
}

#mango-cream{
    width: 100px;
    height: 240px;
}

.text-publi39{
    margin-top: 20px;
}

#choco-choco{
    width: 100px;
    height: 240px;
}

.text-publi40{
    margin-top: 20px;
}

#cucu-choco{
    width: 100px;
    height: 220px;
}

.text-publi41{
    margin-top: 40px;
}

#conito{
    width: 100px;
    height: 220px;
}

.text-publi42{
    margin-top: 40px;
}

#cora-dulce{
    width: 150px;
    height: 220px;
}

.text-publi43{
    margin-top: 40px;
}

#palet-fruit{
    width: 90px;
    height: 220px;
}

.text-publi44{
    margin-top: 40px;
}

#choco-almend{
    width: 90px;
    height: 220px;
}

.text-publi45{
    margin-top: 40px;
}

#pistachoss{
    width: 100px;
    height: 240px;
}

.text-publi46{
    margin-top: 20px;
}

#palet-cora{
    width: 150px;
    height: 220px;
}

.text-publi47{
    margin-top: 40px;
}

#crem-ameri{
    width: 90px;
    height: 220px;
}

.text-publi48{
    margin-top: 40px;
}
                                    /* --------------------Pastelería----------------------      */   
                                    
.tortitauwu{
    max-width: 1500px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

#pastel-frambu{
    width: 270px;
    height: 250px;
}

.text-publi49{
    margin-top: 20px;
}

#limon-blue{
    width: 270px;
    height: 250px;
}

.text-publi50{
    margin-top: 20px;
}

#bolo-choco{
    width: 250px;
    height: 250px;
}

.text-publi51{
    margin-top: 20px;
}

#piono-naran{
    width: 210px;
    height: 250px;
}

.text-publi52{
    margin-top: 20px;
}

#piono-choco{
    width: 210px;
    height: 250px;
}

.text-publi53{
    margin-top: 20px;
}

#mini-pastel-fruta{
    width: 260px;
    height: 250px;
}

.text-publi54{
    margin-top: 20px;
}

#choco-cereza{
    width: 250px;
    height: 250px;
}

.text-publi55{
    margin-top: 20px;
}

#panna-arand{
    width: 300px;
    height: 250px;
}

.text-publi56{
    margin-top: 20px;
}

#crem-fresa{
    width: 250px;
    height: 250px;
}

.text-publi57{
    margin-top: 20px;
}

#panna-rojo{
    width: 240px;
    height: 250px;
}

.text-publi58{
    margin-top: 20px;
}

#chees-mango{
    width: 280px;
    height: 250px;
}

.text-publi59{
    margin-top: 20px;
}

#cup-zombie{
    width: 250px;
    height: 250px;
}

.text-publi60{
    margin-top: 20px;
}

#cheese-choco{
    width: 210px;
    height: 250px;
}

.text-publi61{
    margin-top: 20px;
}

#cheese-oreo{
    width: 210px;
    height: 250px;
}

.text-publi62{
    margin-top: 20px;
}

#eclair{
    width: 210px;
    height: 250px;
}

.text-publi63{
    margin-top: 20px;
}

#cup-hallo{
    width: 200px;
    height: 250px;
}

.text-publi64{
    margin-top: 20px;
}
                                           /* -------------Quienes Somos-------------- */
*{
    margin: 0;
    padding: 0;
}

.anime-choco{
    max-width: 1910px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.amamos-hacemos {
    display: flex; /* Utilizamos Flexbox para alinear elementos */
    background-color: #c10049;
}

.texto-choco {
    flex: 1; /* El texto ocupará todo el espacio disponible a la izquierda */
    margin-left: 200px;
    margin-top: 130px;
}

.img-cochola {
    flex: 1; /* La imagen ocupará todo el espacio disponible a la derecha */
    text-align: right; /* Alineamos la imagen a la derecha */
    margin-right: 400px;
    margin-top: 50px;
}

.img-fram{
    width: 350px;
    height: 350px;
}

.amamos{
    color: #ffffff;
    font-size: 35px;
}

.amamos-text{
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
}

.tiendita{
    max-width: 1920px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.orga-xd{
    display: flex; /* Utilizamos Flexbox para alinear elementos */
    height: 130px;
    background-color: #3a2000;
}

.orga-100{
    flex: 1; /* El texto ocupará todo el espacio disponible a la izquierda */
    margin-left: 200px;
    margin-top: 50px;
}

.varie{
    color: #ffab57;
    font-size: 30px;
}

.cacao-fino{
    display: flex; /* Utilizamos Flexbox para alinear elementos */
    background-color: #593100;
}

.cacaoxd{
    flex: 1; /* El texto ocupará todo el espacio disponible a la izquierda */
    margin-left: 200px;
    margin-top: 90px;
}

.img-almend{
    flex: 1; /* La imagen ocupará todo el espacio disponible a la derecha */
    text-align: right; /* Alineamos la imagen a la derecha */
    margin-right: 280px;
    margin-top: 50px;
}

.cacao1{
    color: #ffffff;
    font-size: 35px;
}

.cacao2{
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
}

.img-alme1{
    width: 370px;
    height: 320px;
}

.patele-espe{
    display: flex; /* Utilizamos flexbox para controlar la disposición */
    align-items: center; /* Centra verticalmente los elementos en el contenedor */
    height: 530px;
    background-color: #7019fc;
}
  
.img-pastele{
    max-width: 480px; /* Ajusta el tamaño de la imagen según tus necesidades */
    margin-right: 100px; /* Añade margen a la derecha de la imagen para separarla de los textos */
}
  
.texto-pastele{
    flex: 1; /* Permite que los elementos de texto ocupen todo el espacio disponible */
}

.pastele1{
    color: #ffffff;
    font-size: 35px;
}

.pastele2{
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
}

.cono-chocoxd {
    display: flex; /* Utilizamos Flexbox para alinear elementos */
    background-color: #c10049;
}

.texto-cono {
    flex: 1; /* El texto ocupará todo el espacio disponible a la izquierda */
    margin-left: 200px;
    margin-top: 170px;
}

.img-conoo {
    flex: 1; /* La imagen ocupará todo el espacio disponible a la derecha */
    text-align: right; /* Alineamos la imagen a la derecha */
    margin-right: 300px;
    margin-top: 30px;
}

.img-conocho{
    width: 300px;
    height: 500px;
}

.cono1{
    color: #ffffff;
    font-size: 35px;
}

.cono2{
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
}

.cube-hela{
    max-width: 1910px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.hela-cubeta{
    width: 1930px;
    height: 700px;
    margin-top: 0;
}